---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Terms of Use | mynth.io">
  <main class="max-w-3xl mx-auto px-4">
    <div class="flex justify-center mt-10">
      <a
        href="/"
        class="text-neutral-500 px-6 py-3 border-neutral-500 border rounded-full"
      >
        Back to homepage
      </a>
    </div>
    <header class="min-h-96 flex flex-col items-center justify-center">
      <h1
        class="py-10 relative z-10 text-lg md:text-7xl bg-clip-text text-transparent bg-gradient-to-tr from-neutral-200 to-neutral-600 text-center font-sans font-bold"
      >
        Privacy Policy
      </h1>
    </header>

    <div
      class="bg-neutral-950 rounded-xl px-10 py-20 text-neutral-200 prose prose-invert text-balance"
    >
      <div class="bg-neutral-900 rounded-xl p-5">
        <h4 class="text-2xl mt-6 m-0">Quick Summary</h4>

        <h5 class="m-0 mt-4 text-xl">Mynth</h5>

        <ul>
          <li>
            We use clerk for authentication and storing user data. (<a
              href="https://clerk.com/legal/privacy">Clerk's Privacy Policy</a
            >)
          </li>
        </ul>

        <h5 class="m-0 mt-4 text-xl">Persona app (persona.mynth.io)</h5>

        <ul>
          <li>
            We do not log, share, sell or use in any way chat messages or
            persona generated data.
          </li>
          <li>
            For cloud chats we keep chat message in our database to save
            conversations. However, we do not log or analyze the content of
            these messages.
          </li>
          <li>
            We store only user ID, username and email address in our database.
            We are using user ID and username to identify users and analyze data
            for improving our serivce. We do not share email address with 3rd
            party.
          </li>
        </ul>
      </div>

      <hr class="bg-neutral-100 my-10" />

      <p>
        At Mynth.io and our Persona app, accessible from
        https://persona.mynth.io, one of our main priorities is the privacy of
        our users. This Privacy Policy document outlines the types of
        information collected and recorded by Mynth.io and Persona, and how we
        use it.
      </p>

      <p>
        If you have additional questions or require more information about our
        Privacy Policy, please don't hesitate to contact us.
      </p>

      <h3>Consent</h3>

      <p>
        By using our website and app, you hereby consent to our Privacy Policy
        and agree to its terms.
      </p>

      <p>
        Information We Collect We collect and store the following personal
        information:

        <ul>
          <li>Username</li>
          <li>Email address</li>
        </ul>
      </p>

      <p>
        We also store chat messages in our database to save conversations.
        However, we do not log or analyze the content of these messages.
      </p>

      <p>
        How We Use Your Information We use the information we collect to:
        <ul>
          <li>Provide and maintain our service</li>
          <li>Improve and personalize user experience</li>
          <li>Communicate with you about service-related issues</li>
        </ul>
      </p>

      <p>
        We do not share your personal information with any third parties, except
        for essential service providers like Logsnag, which we use for analysis
        purposes. We never share or sell chat contents.
      </p>

      <p>
        Data Storage and Security We store your data securely in our database.
        We're working on implementing local chat functionality where no
        information will be stored on our servers, providing an additional layer
        of privacy.
      </p>

      <p>
        Non-Commercial Use At present, the use of Persona and its generated
        content is strictly for personal, non-commercial purposes. Commercial
        use of our services or the content generated through them is prohibited.
      </p>

      <h3>Logs</h3>

      <p>
        We are using logs to analyze how visitors use our website, and to
        improve our website. These logs are stored in a secure database and
        deleted after a period of time.
      </p>

      <p>
        We do not log:

        <ul>
          <li>Chat messages</li>
          <li>Personas generated data</li>
        </ul>
      </p>

      <h3>Cookies</h3>

      <p>
        We may store cookies on your device to help us improve your experience,
        save chats for local usage. We are not using cookies for analytics or
        advertising.
      </p>

      <h3>Public Sharing of Personas (Persona app)</h3>

      <p>
        We may share publicly created personas on our social media channels or
        other public platforms. When we do this, we may include the author's
        username to give proper credit. By creating and publishing a persona on
        our platform, you acknowledge and agree that:
      </p>

      <ol>
        <li>
          The persona may be shared publicly on our social media accounts or
          other platforms.
        </li>
        <li>Your username may be associated with the shared persona.</li>
        <li>
          You have the right to request removal of your shared content at any
          time by contacting us.
        </li>
      </ol>

      <p>
        If you do not want your personas shared or your username displayed
        publicly, please do not publish your personas and contact us to ensure
        your content remains private.
      </p>

      <p>
        Changes to This Privacy Policy We may update our Privacy Policy from
        time to time. We will notify you of any changes by posting the new
        Privacy Policy on this page. You are advised to review this Privacy
        Policy periodically for any changes.
      </p>

      <h3>Contact Us</h3>

      <p>
        Contact Us If you have any questions or suggestions about our Privacy
        Policy:

        <ul>
          <li>mynth: mynth@mynth.io</li>
          <li>persona: persona@mynth.io</li>
          <li>everything else: mynth@mynth.io</li>
        </ul>
      </p>

      <p>
        <i>This privacy policy was last updated on 2024-08-01</i>
      </p>
    </div>
  </main></Layout
>
