---
interface Props {
  title: string;
}

import "../styles/tailwind.css";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-black text-white">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />

    <footer
      class="flex justify-between gap-10 w-full px-2 sm:px-5 lg:px-10 mt-32 max-w-3xl mx-auto py-20 text-neutral-500"
    >
      <p class="text-left">mynth</p>

      <div>
        <ul class="space-y-2 text-right">
          <li>
            <a href="/terms-of-use">Terms of Use</a>
          </li>
          <li>
            <a href="/privacy-policy">Privacy Policy</a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
